<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/machine.css">
</head>

<body>
    <%- include('../../includes/adminNavigation.ejs') %>
    <main>
        <% if (machines.length > 0) { %>
            <% 
                let today = new Date();
                let twoWeeksLater = new Date();
                twoWeeksLater.setDate(today.getDate() + 14);
                
            %>
        <div class="grid">
            <% for (let machine of machines) { %>
                <% 
                    let machineInsuranceDate = new Date(machine.insuranceDate);
                    let machineInspectionDate = new Date(machine.inspectionDate);
                %>
            <div class="grid">
                <article class="card machine_item">
                    <header class="card__header">
                        <h1 class="machine_name"><%= machine.name %></h1>
                    </header>
                    <div>
                        <table style="margin: 10px auto;">
                            <% if(machine.ifDailyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa codzienna:
                                </td>
                                <td class="machine_param <%= machine.dailyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.dailyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifWeeklyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa tygodniowa:
                                </td>
                                <td class="machine_param <%= machine.weeklyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.weeklyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifMonthlyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa miesięczna:
                                </td>
                                <td class="machine_param <%= machine.monthlyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.monthlyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifQuartalyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa kwartalna:
                                </td>
                                <td class="machine_param <%= machine.quartalyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.quartalyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifHalfYearlyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa półroczna:
                                </td>
                                <td class="machine_param <%= machine.halfYearlyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.halfYearlyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifYearlyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa roczna:
                                </td>
                                <td class="machine_param <%= machine.yearlyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.yearlyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <tr>
                                <td class="machine_param">
                                    <br>
                                </td>
                            </tr>
                            <% if(machine.ifInspectionInsurance) { %>
                            <tr>
                                <td class="machine_param">
                                    Ważność przeglądu:
                                </td>
                                <td
                                    class="machine_param <%= machineInspectionDate <= twoWeeksLater ? 'red' : 'green' %>">
                                    <%= machine.inspectionDate %>
                                </td>
                            </tr>
                            <tr>
                                <td class="machine_param">
                                    Ważność ubezpieczenia:
                                </td>
                                <td
                                    class="machine_param <%= machineInsuranceDate <= twoWeeksLater ? 'red' : 'green' %>">
                                    <%= machine.insuranceDate %>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
                    <div class="card__actions">
                        <a class="btn" href="/admin/editMachine/<%= machine.id %>?edit=true">Edytuj</a>
                        <form action="/admin/deleteMachine" method="POST">
                            <input type="hidden" name="machineId" value="<%= machine.id %>">
                            <a class="btn delete" id="<%= 'b' + machine.id %>">Usuń</a>

                            <div class="deleteMessege" id="<%= 'd' + machine.id %>">
                                <span>
                                    Wybrałeś opcję usnięcia maszyny:<br>
                                    <b><%= machine.name %></b><br><br>
                                    Operacja ta usunie z pamięci wszelkie dane dot. tej maszyny (przeglądy, dane obsługi, itd.).<br>
                                    Operacja ta nie może być cofnięta.<br>
                                    Jeśli chcesz kontynuować usuwanie maszyny naciśnij przycisk "Ok".<br>
                                    W przeciwnym razie naciśnij przycisk "Anuluj".
                                </span>
                                <br><br><br>
                                <button class="btn" type="submit" style="margin-right: 30px;">Ok</button>
                                <a class="btn cancel" id="<%= 'a' + machine.id %>">Anuluj</a>
                            </div>                            
                        </form>
                    </div>
                </article>
            </div>
            <% } %>
            <% } else { %>
            <h1>Nie znaleziono maszyn spełniających podane kryteria.</h1>
            <% } %>
    </main>
    <script src="/js/show_hideDeleteMachineForm.js"></script>
    <%- include('../../includes/end.ejs') %>