<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/awaitingMachines' ? 'active' : '' %>" href="/awaitingMachines">Oczekujące</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/ending' ? 'active' : '' %>" href="/ending">Kończące się
                    przegląd/ubezpieczenie</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/allMachines' ? 'active' : '' %>" href="/allMachines">Wszystkie</a>
            </li>
            <li class="main-header__item">
                <a href="/admin/main">Panel Administratora</a>
            </li>
        </ul>
    </nav>
</header>


<!-- Seed of mobile menu -->

<!-- <nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Oczekujące</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/ending' ? 'active' : '' %>" href="/ending">Kończące się
                przegląd/ubezpieczenie</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/all' ? 'active' : '' %>" href="/all">Wszystkie</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/admin/main">Panel Administratora</a>
        </li>
    </ul>
</nav> -->