<%- include('../../includes/head') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('../../includes/navigation') %>
    <main>
        <div class="generalContainer">
            <div class="machineTitle">
                <%= machineName %>
                <br>
                <p class="handlingType">Wpis z dnia <%= handlingDate %></p>
            
                <p class="handlingType">Wprowadzający: <%= userName %></p>
                 
            </div>
            <div class="tableContainer">
                    
            </div>
        </div>
    </main>
<%- include('../../includes/end') %>