<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/machine.css">
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
    <main>
        <% if (machines.length > 0) { %>
            <div class="grid">
                <% for (let machine of machines) { %>
<!-- Ten mechanizm sprawdzania daty ubezpieczenia może wariować przy zmianach godzin na letnie / zimowe -->
                    <% let ifInsuranceEnding;
                       let ifInspectionEnding;
                       if(machine.insuranceDate.getTime() - (60*60*24*14*1000)  <= new Date().getTime()){
                            ifInsuranceEnding = true;
                       }
                       if(machine.inspectionDate.getTime() - (60*60*24*14*1000)  <= new Date().getTime()){
                        ifInspectionEnding = true;
                       }
                       %>
                    <% if(ifInsuranceEnding || ifInspectionEnding )  { %>
                        <div class="grid">
                            <article class="card machine_item">
                                <header class="card__header">
                                    <h1 class="machine_name"><%= machine.name %></h1>
                                </header>
                                <div>
                                    <% let months = [
                                                "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"
                                                ];
                                            %>
                                    <table style="margin: 10px auto;">
                                        <tr>
                                            <td class="machine_param">
                                                Obsługa codzienna:
                                            </td>
                                            <td class="machine_param red">
                                                Oczekuje
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="machine_param">
                                                Obsługa tygodniowa:
                                            </td>
                                            <td class="machine_param green">
                                                Wykonana
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="machine_param">
                                                Obsługa kwartalna:
                                            </td>
                                            <td class="machine_param green">
                                                Wykonana
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="machine_param">
                                                Obsługa roczna:
                                            </td>
                                            <td class="machine_param green">
                                                Wykonana
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="machine_param">
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="machine_param">
                                                Ważność przeglądu:
                                            </td>
                                            <td class="machine_param <% if(ifInspectionEnding){ %> red <% } else { %> green <% } %>">
                                                <%= machine.inspectionDate.getDate() %>.<%= months[machine.inspectionDate.getMonth()] %>.<%= machine.inspectionDate.getFullYear() %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="machine_param">
                                                Ważność ubezpieczenia:
                                            </td>
                                            <td class="machine_param <% if(ifInsuranceEnding){ %> red <% } else { %>green <% } %>">
                                                <%= machine.insuranceDate.getDate() %>.<%= months[machine.insuranceDate.getMonth()] %>.<%= machine.insuranceDate.getFullYear() %>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="card__actions">
                                    <form action="/control" method="POST">
                                        <input type="hidden" name="machineId" value="<%= machine.id %>">
                                        <button class="btn" type="submit">Rejestracja obsługi</button>
                                    </form>
                                    <form action="/history" method="POST">
                                        <input type="hidden" name="machineId" value="<%= machine.id %>">
                                        <button class="btn" type="submit">Historia</button>
                                    </form>
                                </div>
                            </article>
                        </div>
                    <% } %>
                <% } %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../../includes/end.ejs') %>