<%- include('../../includes/head') %>
<link rel="stylesheet" href="/css/machine.css">
</head>

<body>
    <%- include('../../includes/navigation.ejs') %>
    <main>
        <% if (machines.length > 0) { %>
        <div class="grid">
            <% for (let machine of machines) { %>
            <div class="grid">
                <article class="card machine_item">
                    <header class="card__header">
                        <h1 class="machine_name"><%= machine.name %></h1>
                    </header>
                    <div>
                        <table style="margin: 10px auto;">
                            <% if(machine.ifDailyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa codzienna:
                                </td>
                                <td class="machine_param <%= machine.dailyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.dailyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifWeeklyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa tygodniowa:
                                </td>
                                <td class="machine_param <%= machine.weeklyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.weeklyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifMonthlyHand){ %>
                                <tr>
                                    <td class="machine_param">
                                        Obsługa miesięczna:
                                    </td>
                                    <td class="machine_param <%= machine.monthlyStatus == 1 ? 'green' : 'red' %>">
                                        <%= machine.monthlyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                    </td>
                                </tr>
                            <% } %>
                            <% if(machine.ifQuartalyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa kwartalna:
                                </td>
                                <td class="machine_param <%= machine.quartalyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.quartalyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <% if(machine.ifHalfYearlyHand){ %>
                                <tr>
                                    <td class="machine_param">
                                        Obsługa półroczna:
                                    </td>
                                    <td class="machine_param <%= machine.halfYearlyStatus == 1 ? 'green' : 'red' %>">
                                        <%= machine.halfYearlyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                    </td>
                                </tr>
                            <% } %>
                            <% if(machine.ifYearlyHand){ %>
                            <tr>
                                <td class="machine_param">
                                    Obsługa roczna:
                                </td>
                                <td class="machine_param <%= machine.yearlyStatus == 1 ? 'green' : 'red' %>">
                                    <%= machine.yearlyStatus == 1 ? 'Wykonana' : 'Oczekuje' %>
                                </td>
                            </tr>
                            <% } %>
                            <tr>
                                <td class="machine_param">
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td class="machine_param">
                                    Ważność przeglądu:
                                </td>
                                <td class="machine_param">
                                    <%= machine.inspectionDate %>
                                </td>
                            </tr>
                            <tr>
                                <td class="machine_param">
                                    Ważność ubezpieczenia:
                                </td>
                                <td class="machine_param">
                                    <%= machine.insuranceDate %>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card__actions card-item-grid">
                        <a class="btn" href="/handlingsChoice/<%= machine.id %>">Rejestracja obsługi</a>
                        <a class="btn" href="/history/<%= machine.id %>">Historia</a>
                        <a class="btn" href="/note/<%= machine.ide %>">Dodaj notatkę</a>
                        <a class="btn" href="/note/<%= machine.ide %>">Dodaj plik</a>
                    </div>
                </article>
            </div>
            <% } %>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../../includes/end.ejs') %>